# VS Code settings
.vscode

# IntelliJ IDEA settings
*.iml
.idea

# Dependency directories
node_modules

# Don't include the compiled main.js file
# They should be uploaded to GitHub releases instead
main.js

# Sourcemaps
*.map

# Obsidian
data.json

# OS X
.DS_Store
