body {
    --overdue: #d1453b;
    --today: #058527;
    --tomorrow: #ad6200;
    --this-week: #692ec2;
    --future: #808080;
}

.theme-dark {
    --text-color: #ffffff;
    --hover: rgba(255, 255, 255, 0.1);
}

.theme-light {
    --text-color: #000000;
    --hover: rgba(0, 0, 0, 0.1);
}

.date-pill {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 9999px;
    color: var(--text-color);
    font-size: 0.8em;
    margin: 0 4px;
    white-space: nowrap;
    user-select: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    transition: background-color 0.1s ease-out;
}

.date-pill.struck-through {
    background-color: transparent !important;
}

.date-pill.overdue {
    background-color: var(--overdue);
}

.date-pill.today {
    background-color: var(--today);
}

.date-pill.tomorrow {
    background-color: var(--tomorrow);
}

.date-pill.this-week {
    background-color: var(--this-week);
}

.date-pill.future {
    background-color: var(--future);
}

.date-pill:hover {
    background-color: var(--date-pill-hover);
}
