body {
    --relative-date-overdue: #d1453b;
    --relative-date-today: #058527;
    --relative-date-tomorrow: #ad6200;
    --relative-date-this-week: #692ec2;
    --relative-date-future: #808080;
}

.theme-dark {
    --relative-date-text-color: #ffffff;
    --relative-date-hover: rgba(255, 255, 255, 0.05);
}

.theme-light {
    --relative-date-text-color: #000000;
    --relative-date-hover: rgba(0, 0, 0, 0.05);
}

.relative-date {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 9999px;
    color: var(--relative-date-text-color);
    font-size: 0.8em;
    margin: 0 4px;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-out;
}

.relative-date.rd-overdue {
    background-color: var(--relative-date-overdue);
}

.relative-date.rd-today {
    background-color: var(--relative-date-today);
}

.relative-date.rd-tomorrow {
    background-color: var(--relative-date-tomorrow);
}

.relative-date.rd-this-week {
    background-color: var(--relative-date-this-week);
}

.relative-date.rd-future {
    background-color: var(--relative-date-future);
}

.relative-date:hover {
    filter: brightness(1.3);
}

.relative-date:active {
    transform: translateY(1px);
}

.task-list-item[data-task="x"] .relative-date,
.task-list-item[data-task="-"] .relative-date,
.cm-line[data-task="x"] .relative-date,
.cm-line[data-task="-"] .relative-date {
    background-color: transparent !important;
}

.task-list-item[data-task="x"] .relative-date:hover,
.task-list-item[data-task="-"] .relative-date:hover,
.cm-line[data-task="x"] .relative-date:hover,
.cm-line[data-task="-"] .relative-date:hover {
    background-color: var(--relative-date-hover) !important;
}